.comment-respond
  h3.comment-reply-title Leave a Reply
  form(action="#" method="post" class="comment-form")
    p.comment-form-comment
      label(for="comment") Comment
      textarea#comment(name="comment" required="required")
    p.form-submit
      input(name="submit" type="submit" class="submit" value="Post Comment")