//- ----------------------Pagination
//- nav.table.center.row
//-   a.pag-previous.pag-numbers(href="#")= "< Previous"
//-   span.pag-numbers.current 1
//-   -var i=2;
//-   +loop(5)
//-     a.pag-numbers.pag-numbers-design(href="#")= i
//-     -i++;
//-   a.pag-numbers(href="#")= "..."
//-   a.pag-next.pag-numbers(href="#")= "Next >"