aside.sidebar
  .sidebar-widget
    h4.sidebar-widget-title Search
    .widget-content
      .widget-search
        input(type="text" placeholder="Search...").widget-search-field
        input(type="submit", value="Go").widget-search-submitBtn