-i=0;
+loop(4)
  article.index-post
    a(href="#").index-post-thumb
      img(src= `../final/img/${++i}.jpg`, alt="").img
    a(href="#").index-post-readMoreBtn
    a(href="#")
      h3.index-post-title From one world to another: Chitral to the Kalash Valleys
    .index-post-meta
      .meta-ctn
        .custom-icon
        span.meta-txt 5 Comments
      .meta-ctn
        .custom-icon
        span.meta-txt 4 Oct 17
      .meta-ctn
        .custom-icon
        span.meta-txt James Broth
    .index-post-excerpt
      p!= 'Eat pastries/fast food for dinner as well. We typically went out to (cheap) restaurants for dinner. Gotta have something that isn’t breaded every once in a while… Don’t drink so much coffee. We’re kind of addicted to caffeine <a href="#">...</a>'