// -----------Standard + Sdbar-----------
.row.posts-index
  .clm-8.posts-index_gridPadding
    include ../excerpt-post/_travelo-excerpt-post
  .clm-4.post-index_gridPadding
    include ../widget/_travelo-widget
include ../pagination/_travelo-pagination
// -----------Standard + Sdbar-----------