.aboutBtm
  img(src="../final/img/author-300.jpg", alt="").aboutBtm-img.center
  .aboutBtm-txt
    h5 Jack Reacher
    hr
    p Author
    p Just another Dutchie. Extrovert with introverted tendencies. Some say I'm lazy, I say I'm masterfully inactive.