@mixin s($w, $h) {
  width: $w;
  height: $h;
}
@mixin center() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
@function ms($n) {
  $size: 16px;
  @if $n>0 {
    @for $i from 1 through $n {
      $size: $size*1.618;
    }
  }
  @if $n<0 {
    @for $i from -1 through $n {
      $size: $size/1.618;
    }
  }
  @return floor($size);
}
@function c($n) {
  @return rgb($n, $n, $n);
}
@function ca($n, $a) {
  @return rgba($n, $n, $n, $a);
}
@mixin gradient($color1, $color2) {
  background: radial-gradient(farthest-corner at 50% 120%, $color1, $color2);
}