.wrap_70 {
    width: 80%;
}
@media screen and (min-width:480px) {
    .wrap_70 {
        width: 70%;
    }
}
.wrap_75 {
    width: 85%;
}
@media screen and (min-width:480px) {
    .wrap_75 {
        width: 75%;
    }
}
.wrap_80 {
    width: 97%;
}
@media screen and (min-width:480px) {
    .wrap_80 {
        width: 80%;
    }
}
.wrap_85 {
    width: 100%;
}
@media screen and (min-width:480px) {
    .wrap_85 {
        width: 85%;
    }
}
.wrap_90 {
    width: 95%;
}
@media screen and (min-width:480px) {
    .wrap_90 {
        width: 85%;
    }
}