@import 'colors';
.block,li .block{
  display:block;
}
.bg-black-screen_show {
  display: block;
  animation: dim .7s ease-in-out forwards;
}
@keyframes dim{
  100%{
    opacity: 1;
  }
}
.translate-0{
  transform: translate(0);
}
.op0{
  opacity:0;
}
.op1{
  opacity:1;
}

.top_show{
  transform: scale(1);
  z-index: 1;
}

.humb_afterScroll {
  position: fixed;
  transform: scale(0);
  z-index:-1;
  background: hsl($main-color, 90%, 35%);
  border-radius: 100%;
  border: none;
  padding:8px;
  right:0;
  margin:20px;
  opacity: 0;
  bottom:60px;
  .header-nav-humb-bar{
    background:hsl($main-color, 90%, 95%);
  }
  &:hover, &:focus{
    opacity:.9;
    transform: scale(1.2);
  }
}
.humb_show{
  transform: scale(1.1);
  z-index:1;
  opacity: .6;
}

.menu2Ul_show{
  display:flex;
  animation: scl .2s ease-in-out forwards;
}
@keyframes scl{
  from{
    transform: scaleY(0);
  }
  to{
    transform: scaleY(1);
  }
}

.comment-form-comment{
  .label_stable{
    color: hsla($main_color, 70%, 23%, .8);
    transform: translate(0);
    font: {
      family: 'Noto Sans';
      weight: 700;
    }
  }
}

@for $i from 1 through 3 {
  .featuredPosts-item_anim:nth-child(#{$i}){
    opacity: 0;
    @if $i==1 {
      transform: translate(100%) scale(.5);
    }
    @if $i==2 {
      transform: scale(.5);
    }
    @if $i==3 {
      transform: translate(-100%) scale(.5);
    }
  }
}
@keyframes bounce {
  87% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.features_anim{
  transform: scale(0);
  opacity: 0;
}
.features_anim_bubble{
  animation: bounce .4s ease-in-out forwards;
}
.rwd .rwd_anim{
  opacity:0;
}
@for $i from 1 through 2 {
  .mbl .mbl_anim:nth-child(#{$i}){
    opacity: 0;
    @if $i==1 {
      transform: translate(-50%);
    }
    @if $i==2 {
      transform: translate(50%);
    }
  }
}
.c2a_anim{
  opacity: 0;
}
.c2a_anim_bubble{
  animation: bounce .7s ease-in-out forwards;
}