.pres {
  text-align: center;
  padding:ms(4) ms(0);
  &-intro {
    margin-bottom: ms(3);
    &-title {//h1
      font: {
        weight: 100;
      }
    }
    &-subTitle {
      font-size: ms(0)+4px;
    }
  }
}