.row:after,
.row:before {
  content: '';
  clear: both;
  display: table;
}
[class*='clm-'] {
  float: left;
  width: 100%;
}
$v:8.33%;
//grid 12 clm
@mixin rwd-min() {
  .clm-1-min {
    width: $v;
  }
  .clm-2-min {
    width: $v*2;
  }
  .clm-3-min {
    width: $v*3;
  }
  .clm-4-min {
    width: $v*4;
  }
  .clm-5-min {
    width: $v*5;
  }
  .clm-6-min {
    width: $v*6;
  }
  .clm-7-min {
    width: $v*7;
  }
  .clm-8-min {
    width: $v*8;
  }
  .clm-9-min {
    width: $v*9;
  }
  .clm-10-min {
    width: $v*10;
  }
  .clm-11-min {
    width: $v*11;
  }
  .clm-12-min {
    width: $v*12;
  }
}

@mixin rwd-mdm() {
  .clm-1-mdm {
    width: $v;
  }
  .clm-2-mdm {
    width: $v*2;
  }
  .clm-3-mdm {
    width: $v*3;
  }
  .clm-4-mdm {
    width: $v*4;
  }
  .clm-5-mdm {
    width: $v*5;
  }
  .clm-6-mdm {
    width: $v*6;
  }
  .clm-7-mdm {
    width: $v*7;
  }
  .clm-8-mdm {
    width: $v*8;
  }
  .clm-9-mdm {
    width: $v*9;
  }
  .clm-10-mdm {
    width: $v*10;
  }
  .clm-11-mdm {
    width: $v*11;
  }
  .clm-12-mdm {
    width: $v*12;
  }
}

@mixin rwd() {
  .clm-1 {
    width: $v;
  }
  .clm-2 {
    width: $v*2;
  }
  .clm-3 {
    width: $v*3;
  }
  .clm-4 {
    width: $v*4;
  }
  .clm-5 {
    width: $v*5;
  }
  .clm-6 {
    width: $v*6;
  }
  .clm-7 {
    width: $v*7;
  }
  .clm-8 {
    width: $v*8;
  }
  .clm-9 {
    width: $v*9;
  }
  .clm-10 {
    width: $v*10;
  }
  .clm-11 {
    width: $v*11;
  }
  .clm-12 {
    width: $v*12;
  }
}

@mixin rwd-l() {
  .clm-1-l {
    width: $v;
  }
  .clm-2-l {
    width: $v*2;
  }
  .clm-3-l {
    width: $v*3;
  }
  .clm-4-l {
    width: $v*4;
  }
  .clm-5-l {
    width: $v*5;
  }
  .clm-6-l {
    width: $v*6;
  }
  .clm-7-l {
    width: $v*7;
  }
  .clm-8-l {
    width: $v*8;
  }
  .clm-9-l {
    width: $v*9;
  }
  .clm-10-l {
    width: $v*10;
  }
  .clm-11-l {
    width: $v*11;
  }
  .clm-12-l {
    width: $v*12;
  }
}

@mixin rwd-xl() {
  .clm-1-xl {
    width: $v;
  }
  .clm-2-xl {
    width: $v*2;
  }
  .clm-3-xl {
    width: $v*3;
  }
  .clm-4-xl {
    width: $v*4;
  }
  .clm-5-xl {
    width: $v*5;
  }
  .clm-6-xl {
    width: $v*6;
  }
  .clm-7-xl {
    width: $v*7;
  }
  .clm-8-xl {
    width: $v*8;
  }
  .clm-9-xl {
    width: $v*9;
  }
  .clm-10-xl {
    width: $v*10;
  }
  .clm-11-xl {
    width: $v*11;
  }
  .clm-12-xl {
    width: $v*12;
  }
}

//grid 10 clm
@mixin rwd-10() {
  $v: 10%;
  .grid10-clm-1 {
    width: $v;
  }
  .grid10-clm-2 {
    width: $v*2;
  }
  .grid10-clm-3 {
    width: $v*3;
  }
  .grid10-clm-4 {
    width: $v*4;
  }
  .grid10-clm-5 {
    width: $v*5;
  }
  .grid10-clm-6 {
    width: $v*6;
  }
  .grid10-clm-7 {
    width: $v*7;
  }
  .grid10-clm-8 {
    width: $v*8;
  }
  .grid10-clm-9 {
    width: $v*9;
  }
  .grid10-clm-10 {
    width: $v*10;
  }
}