@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../beta/fonts/roboto-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../../beta/fonts/roboto-medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../../beta/fonts/roboto-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 400;
    src: url('../../beta/fonts/noto-400.woff2') format('woff2');
}
@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 700;
    src: url('../../beta/fonts/noto-700.woff2') format('woff2');
}

html {
    font-size: 16px;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Tahoma", "Verdana", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}
h1, .h1 {
    font-size: 2.5rem;
}
h2, .h2 {
    font-size: 2rem;
}
h3, .h3 {
    font-size: 1.75rem;
}
h4, .h4 {
    font-size: 1.5rem;
}
h5, .h5 {
    font-size: 1.25rem;
}
h6, .h6 {
    font-size: 1rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 24.8px;
}