// -----------Side Navigation-----------
-var links=['Home','About', 'Blog','Post','Features'];
-var linksHtml=['presentation.html','about.html', 'index-sdbar.html','single-post.html','presentation.html'];
-var blogLinks=['Standard','List','List + Sidebar','Grid','Grid + Sidebar'];
-var blogLinksHtml=['index-sdbar.html','index-inlined.html','index-inlined-sdbar.html','index-grid.html','index-grid-sdbar.html'];
-var postLinks=['Post','Post + Sidebar'];
-var postLinksHtml=['single-post.html','single-post-sdbar.html'];
-i=0;var j=0;
.bg-black-screen
.sideNav
  .sideNav-title.txt_center
    h1 Travelo
    span.sideNav-close-btn.txt_center X
  .sideNav-bar.center
  ul.sideNav-items
    +loop(links.length)
      li.sideNav-items-li.op0
        a(href= (linksHtml[i]) )= links[i]
        -if(i == 2)
          -j=0;
          ul
            +loop(blogLinks.length)
              li
                a(href= blogLinksHtml[j])= blogLinks[j++]
        -if(i++ == 3)
          -j=0;
          ul
            +loop(postLinks.length)
              li
                a(href= postLinksHtml[j])= postLinks[j++]
  .sideNav-social
    -var icons=['twitter','facebook','gplus'];i=0;
    +loop(3)
      a.sideNav-social-icon(class= `icon-${icons[i++]}`, href="#")
// -----------Side Navigation-----------