.btn {
  padding: ms(-2) ms(-1);
  font-weight: bold;
  display: inline-block;
  &_small {
    padding: ms(0) ms(1);
  }
  &_medium {
    padding: ms(1) ms(2);
  }
  &_big {
    padding: ms(2) ms(3);
  }
}