.card {
  $br-radius: 7px;
  border-radius: $br-radius;
  width: 300px;
  background: c(20);
  box-shadow: -2px 4px 12px c(10);
  margin: ms(2) ms(0);
  display: inline-block;
  vertical-align: top;
  transition-timing-function: ease-in-out;
  &-img {
      border-top-left-radius: $br-radius;
      border-top-right-radius: $br-radius;
  }
  &-txt-ctn {
      width: 80%;
      margin-top: ms(4);
  }
  &-title {
      color: c(6);
      font-weight: 700;
  }
  &-txt {
      color: c(8);
      font-weight: 500;
  }
  &-btn {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      border-radius: 7px;
      color: #387023;
      transform: translate(-ms(2), -ms(-3));
  }
  &.card-hover:hover {
      transform: translate(0, -7px);
      opacity: .9;
      box-shadow: -5px 11px 14px c(10);
  }
}