.pag {
    &-numbers {
        float: left;
        padding: ms(-2);
        font-weight: 700;
        margin: 5px;
        border-radius: 4px;
        text-shadow: 1px 1px 4px #1d455d;
    }
    &-next, &-previous {
        display: block;
        width: 95%;
        text-align: center;
    }
}
.current {
    border: {
        top: none;
        left: none;
        right: none;
        bottom: 5px solid #5a70c8;
    }
    padding-bottom:ms(-5);
    border-radius:4px;
}
@media screen and (min-width:480px) {
    .pag-next, .pag-previous {
        width: auto;
    }
}