header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include s(100%, 500px);
  height: 100vh;
  color: ca(255,.9);
}
.header {
  &-nav {
    display: flex;
    justify-content: space-between;
    padding:ms(-1);
    &-logo {
      padding: ms(0);
      font-size: ms(1);
      font-weight: 700;
      margin-left: ms(-1);
      font-weight: 700;
      font-family: 'Dancing Script';
      font-size:ms(1)+10px;
      color: inherit;
    }
    &-humb {
      @include s(40px, 40px);
      margin: auto ms(0);
      transition: transform .3s;
      padding: 8px 6px;
      border: 2px solid;
      border-radius: 6px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &-bar {
        background: c(240);
        height: 4px;
        border-radius: 5px;
      }
    }
  }
  &-center {
    margin: 0 auto;
    padding: ms(0) 5px;
    h1, h4 {
      margin-bottom: ms(-1);
      font-weight: 100;
      color:inherit;
    }
    h1 {
      color: hsl($second_color, 75%, 50%);
      font-family:'Dancing Script';
      font-size: ms(3);
      @media screen and (min-width:375px){
        font-size: ms(4);
      }
      @media screen and (min-width:768px){
        font-size: ms(5);
      }
    }
  }
  &-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    &-cpright {
      margin-left: ms(-1);
      h6 {
        font-size: 12px;
        margin: auto;
        margin-bottom: 0;
      }
    }
    &-social {
      display: flex;
      margin-right: ms(0);
      &-icon {
        @include s(25px, 25px);
        border-radius: 100%;
        background: hsla($main_color, 50%, 80%, .7);
        margin: 0 ms(-2);
        font-size: 14px;
        color: hsl($second_color, 50%, 15%);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 100ms ease-in-out;
        &:hover, &:focus {
          transform: scale(1.5);
        }
      }
    }
  }
}