.c2a{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding:ms(1) ms(-1);
  @media screen and (min-width:480px){
    flex-direction: row;
    padding:ms(1) ms(3);
  }
  background: linear-gradient(-45deg,hsla($main-color, 80, 50,.8),hsla($main-color + 35, 70, 50,.8));
  &-txt{
    color:ca(255,.7);
    margin-bottom: ms(1);
    @media screen and (min-width:768px){
      margin:auto 0;
    }
    font:{
      family: 'Noto';
      weight:100;
    }
  }
  &-btn{
    text-align: center;
    padding:ms(0)+3px;
    margin:auto 0;
    color:c(250);
    transition: all .2s;
    background: hsl($second-color, 70, 50);
    &:hover{
      background: hsl($second-color, 70, 60);
    }
    border-radius: 35px;
    font:{
      family: 'Noto';
      size:ms(0)+4px;
      weight:100;
    }
  }
}