.features{
  .pres-intro{
    margin-bottom: ms(3);
  }
  &-title{
    font:{
      weight:400;
    }
  }
  &-item{
    padding:ms(1);
  }
  &-icon{
    @include s(140px,140px);
    background: hsla($main-color, 80, 50,.8);
    margin-bottom: ms(1)+5px;
    border-radius: 100%;
  }
}