.about{
  text-align: center;
  width:90%;
  padding:ms(0) 0;
  @media screen and (min-width:1024px){
    width:60%;
    padding:ms(2);
  }
  margin:ms(2) auto;
  background: c(255);
  border-radius: 10px;
  border:1px solid ca(0,.25);
  &-img{
    @include s(100px,100px);
    border-radius: 100%;
    margin-bottom: ms(0);
  }
  hr{
    margin:ms(-1) auto;
    width:ms(5);
  }
  &-txt{
    padding:ms(0);
    @media screen and (min-width:1024px){
      padding: ms(0) ms(3) 0;
    }
  }
}
.aboutSocial{
  border:1px solid ca(0,.25);
  text-align: center;
  padding:ms(0) 0;
  width:90%;
  @media screen and (min-width:1024px){
    width:60%;
  }
  background: c(255);
  border-radius: 10px;
  display:flex;
  justify-content: center;
  margin-bottom: ms(3);
  &-icon{
    border-radius: 100%;
    color:ca(255,.9);
    @include s(35px,35px);
    margin:0 ms(-2);
    padding-top: ms(-1);
  }
}