/*-----------Featured Posts-----------*/
.featuredPosts{
  position: relative;
  overflow: hidden;
  .pres-intro-title{
    color:ca(255,.85);
  }
  &:after{
    content:'';
    position: absolute;
    top:0;left:0;
    @include s(100%,100%);
    z-index: -1;
    border:{
      bottom:300px solid transparent ;
      left:3000px solid hsla(10*22, 50%, 35%, 1);
    }
  }
  &-item{
    margin:ms(1) 0;
    @media screen and (min-width:600px){
      margin:ms(1) auto;
      width:500px;
    }
    @media screen and (min-width:1024px){
      width:auto;
      margin:ms(0);
    }
    padding: 0;
    text-align: left;
    border-radius: 10px;
    box-shadow:0 4px 25px ca(0,.5);
    .index-post{
      margin: 0;
      width:100%;
      border: none;
      &-meta{
        padding:0;
        padding-left: ms(0);
      }
    }
  }
  .clm-4{
    transition: all 1s ease-in-out;
    transform: translate(0) scale(1);
    opacity:1;
  }
}
/*-----------Featured Posts-----------*/