/*-----------Responsive-----------*/
.rwd{
  color:ca(255,.7);
  .img{
    transition:all 3s ease-in-out;
    opacity:1;
    width:85%;
    @media screen and (min-width:500px){
      width:500px;
    }
  }
}
/*-----------Responsive-----------*/