.footer{
  &_grid{
    padding:0 ms(2)/2;
    margin-bottom: ms(2);
    h5, h6{
      color:hsla($second-color, 80%, 90%, .8);
    }
    @media screen and (min-width:1024px) {
      margin-bottom: 0;
    }
  }
  &-h{
    font-weight:500;
    margin-bottom: ms(1);
    color: hsla($second-color, 80%, 90%, .75) ;
    &_SiteTitle{
      font:{
        family:'Noto';
        weight:100;
        size:3rem;
      }
    }
  }
  &-featured-post{
    display: flex;
    margin-top:ms(-1);
    &-img{
      @include s(85px,85px);
      object-fit: cover;
      margin-right:ms(0);
    }
    &-txt{
      p{
        line-height: 1.35;
      }
      font-size: 14px;
    }
  }
  &-contact-info{
    display:flex;
    margin-bottom: ms(0);
  }
  &-social{
    &-icons{
      display: flex;
    }
  }
  &-links{
    display: block;
    color: hsla($second-color, 80%, 90%, .6) ;
    text-decoration: underline;
    margin: 0 ms(-1) ms(0);
    font:{
      size:16px;
      family: 'Noto';
      weight:100;
    }
  }
}

footer{
  padding:ms(1) 0 0 ms(1);
  background: hsl($main-color, 70%, 5%);
  color:hsla($second-color, 80%, 90%, .6);
}
footer{
  margin-top:80vh;
}
.icon{
  @include s(40px,40px);
  border-radius: 100%;
  border:1px solid hsla($second-color, 80%, 50%, .9);
  margin-right: ms(1)/2;
  transform: translateY(-20%);
}