.rwd{
  padding:ms(3) ms(0);
  background-image: radial-gradient(hsla($main-color,50,25,.85),hsla($main-color,50,25,.65)), url('../../beta/img/1.jpg');
  color:ca(255,.7);
  text-align: center;
  &-intro{
    margin-bottom: ms(3);
  }
  &-title{
    font:{
      family:'Noto';
      weight: 100;
    }
    color:ca(255,.8);
  }
  p{
    font-size: ms(0)+4px;
  }
}