.mbl {
  height: auto;
  overflow: hidden;
  @media screen and (min-width: 1024px) {
    height:550px;
  }
  &-img {
    width: 360px;
    transform: translateY(30px);
    opacity: 1;
    display: none;
    @media screen and (min-width: 1024px) {
      display:block;
    }
    position: relative;
    iframe{
      width:328px;
      height:460px;
      top:64px;
      left:18px;
      position: absolute;
      overflow: auto;
    }
  }
  &-description {
    transform: translate(0);
    opacity:1;
    height: 100%;
    padding: ms(1);
    @media screen and (min-width: 480px) {
      padding:ms(3);
    }
    h1 {
      font-weight: 400;
      margin-bottom: ms(1)-5px;
    }
  }
  .btn {
    color: c(255);
    background: hsl($second_color, 90%, 45%);
    transition: all .2s;
    padding: ms(0);
    border-radius: 50px;
    border: none;
    display: inline-block;
    &:hover {
      background: hsl($second_color, 80%, 55%);
    }
  }
  &-description, .clm-6:nth-child(2){
    transition:all .7s ease-in-out;
    opacity:1;
    transform: translate(0);
  }
}