.aboutBtm{
  display:flex;
  width:90%;
  padding:ms(0);
  margin-bottom: ms(3);
  max-width:700px;
  @media screen and (min-width:1024px){
    padding:ms(1);
  }
  background: c(255);
  border-radius: 10px;
  border:1px solid ca(0,.22);
  &-img{
    @include s(80px,80px);
    @media screen and (min-width:480px){
      @include s(100px,100px);
      margin-top:ms(0);
    }
    border-radius: 100%;
  }
  hr{
    display:none;
    @media screen and (min-width:1024px){
      display:block;
    }
    width:ms(4);
    margin:0;
  }
  &-txt{
    padding: 0 ms(-1);
    @media screen and (min-width:480px){
      padding: ms(1);
    }
  }
}