.media-img {
  width: 85px;
  height: 85px;
  margin-top: ms(2);
}
.media-txt {
  width: 65%;
  padding: ms(-1);
}
@media screen and (min-width:480px) {
  .media-img {
      width: 134px;
      height: 135px;
  }
}
@media screen and (min-width:768px) {
  .media-img {
      width: 150px;
      height: 150px;
      margin-top: ms(1);
      margin-left: ms(2);
  }
}
@media screen and (min-width:1024px) {
  .media-img {
      width: 100px;
      height: 100px;
      margin-top: ms(4);
      margin-left: 0;
  }
}