//.star-ctn //.stars.rel
@function multiShadows($n, $size) {
  $value:'#{random($size)}px #{random($size)}px #dfe6b6';
  @for $i from 0 through $n {
      $value: '#{$value} ,#{random($size)}px #{random($size)}px #dfe6b6';
  }
  @return unquote($value)
}
@keyframes down {
  from {
      transform: translateY(0);
  }
  to {
      transform: translateY(1500px);
  }
}
.star {
  &-ctn {
      height: 100vh;
      background: linear-gradient(#0d2334, #214c72);
      overflow: hidden;
  }
  &s {
      top: -1400px;
      height: 3px;
      width: 3px;
      border-radius: 100%;
      background: #d3dd9b; //box-shadow: multiShadows(1000, 2000);
      animation: down 120s linear infinite;
  }
}