//<svg><circle r="100" cx="101" cy="101"></circle></svg>
$width: 200px;
$line-length: 2*3.14*($width/2);
.circle {
  @include s($width+8px,$width+8px);
  //margin: auto;
} //<svg>
.circle circle {
  stroke:{
    dasharray: $line-length;
    dashoffset: 0;
    linecap: round;
    width: 2px;
  }
  stroke: black ;
  fill: none;
} // <circle>