// -----------Single Post + Sdbar-----------
.row.posts-index
  .clm-8.posts-index_gridPadding
    include ../single-post/_travelo-single-post
  .clm-4.post-index_gridPadding
    include ../widget/_travelo-widget
// -----------Single Post + Sdbar-----------