.index-post{
  border:1px solid ca(10,.3);
  border-top: none;
  width: 98%;
  position: relative;
  background: ca(255,.8);
  margin:ms(3) auto 0;
  border-radius: 10px;
  overflow: hidden;
  @media screen and (min-width:480px) {
    width:480px;
  }
  @media screen and (min-width:768px) {
    width:600px;
  }
  &-thumb{
    overflow: hidden;
    background: black;
    display: block;
    .img{
      height: 250px;
      transition: all .3s ease-in-out;
      &:hover, &:focus{
        opacity: .5;
        transform: scale(1.07) rotate(1deg);
      }
    }
  }
  &-thumb:hover {
    &::after{
      visibility: visible;
    }
  }
  &-readMoreBtn{
    @include s(50px,50px);
    position: absolute;
    border-radius: 100%;
    background: hsl($second_color, 80%, 45%);
    right: ms(1); top:250px - 30px;
    box-shadow: 3px 6px 9px ca(0,.4);
    transition: all .15s ease-in-out;
    padding-left: ms(0)-4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size:ms(1)-4px;
    color:ca(255,.8);
    &:hover,&:focus{
      transform: translateY(-3px);
      background: hsl($second_color, 80%, 50%);
      box-shadow: 3px 9px 9px ca(0,.4);
    }
  }
  &-meta{
    display:flex;
    flex-wrap: wrap;
    padding-left: ms(1);
  }
  &-title, &-excerpt{
    padding:ms(-1) ms(1);
  }
  &-title{
    text-transform: capitalize;
    margin-top:ms(0);
    margin-bottom: 0;
    color: hsla($main-color, 50%, 7%,.75);
  }
}
.index-post-ctn{
  width:100%;
  @media screen and (min-width:1024px){
    width:68%;
  }
}
.meta-ctn{
  padding: ms(-3) ms(-1) ms(-2) 0;
}
.meta-txt{
  font-size: 14px;
  color:ca(10,.7);
}
.index-post-icon{
  color: hsl($second_color, 90%, 35%);
}