.index-post{
  border:1px solid ca(10,.3);
  border-top: none;
  width: 97%;
  position: relative;
  background: ca(255,.8);
  margin:ms(3) auto 0;
  border-radius: 10px;
  overflow: hidden;
  @media screen and (min-width:480px) {
    width:480px;
  }
  
  @media screen and (min-width:768px) {
    width:700px;
  }
  &-thumb{
    overflow: hidden;
    background: black;
    display: block;
    position: relative;
    &::after{
      content: '>';
      color:ca(255,.7);
      position: absolute;
      top:50%;left:50%;
      visibility: hidden;
      top:calc(50% - 25px);left:calc(50% - 25px);
      // visibility: hidden;
      @include s(50px,50px);
      text-align: center;
      padding-top: 12px;
      border-radius: 100%;
      border:2px solid;
    }
    .img{
      height: 250px;
      transition: all .3s ease-in-out;
      &:hover, &:focus{
        opacity: .5;
        transform: scale(1.07) rotate(1deg);
      }
    }
  }
  &-thumb:hover {
    &::after{
      visibility: visible;
    }
  }
  &-readMoreBtn{
    @include s(50px,50px);
    position: absolute;
    border-radius: 100%;
    background: hsl($second_color, 80%, 45%);
    right: ms(1); top:250px - 30px;
    box-shadow: 3px 6px 9px ca(0,.4);
    transition: all .15s ease-in-out;
    &:hover,&:focus{
      transform: translateY(-3px);
      box-shadow: 3px 9px 9px ca(0,.4);
    }
  }
  &-meta{
    display:flex;
    padding: 0 ms(1);
  }
  &-title, &-excerpt{
    padding:ms(-1) ms(1);
  }
  &-title{
    margin-top:ms(0);
    margin-bottom: 0;
    color: hsla($main-color, 50%, 7%,.75);
  }
}
.index-post-ctn{
  width:100%;
  @media screen and (min-width:1024px){
    width:68%;
  }
}
.meta-ctn{
  padding: ms(-4) ms(-3) ms(-1);
}
.meta-txt{
  font-size: 14px;
  color:ca(10,.7);
}
.custom-icon{
  border:1px solid hsl($second_color, 80%, 45%);
  @include s(20px,20px);
  display: inline-block;
  vertical-align: middle;
  margin-right: ms(-3);
  margin-left: ms(-5);
}