.intro-bk.none.fixed#intro
  span.intro-anim-container.center.relative
    span.done.absolute
    span.bar-anim1.absolute
    span.bar-anim2.absolute
    -for(var i=0;i<4;i++){
      span.intro-child.absolute(class= "intro-child-anim"+i)
    -}