mixin loop(l)
  -let i=0;while(i++<l){
    block
  -}
-function bk(imgUrl,color1,color2){
  //- better background overlay when using .5 / .6 ( opacity )
  -return `background-image:radial-gradient(circle at 50% 50%,${color1},${color2}), url(${imgUrl});`;
-}
mixin cssLink(url)
  link(href= url type="text/css" rel="stylesheet")