include _mixins
doctype html
html(lang='')
  include components/head
    +cssLink('../final/styles/style.css')
    +cssLink('../final/styles/effects.css')
    +cssLink('../final/fonts/fontello/css/fontello.css')
  body
    main
      //-include components/menu/_travelo-side-nav
      //-include components/_travelo-header
      //-include components/_travelo-posts-index
      //-include components/_travelo-index-header
      //-include components/_travelo-footer
      //-include components/_travelo-last-footer
      //-include components/_travelo-comment
      //-include components/pagination/_travelo-pagination
      //-include components/_travelo-single-post
      //-include components/_travelo-mobile
      //-include components/_travelo-rwd
    <!--defer-->
    script(src='../final/js/main.js')
    <!--enddefer-->