include _mixins
doctype html
html(lang='')
  include head
    link(href="./final/styles/style.css" type="text/css" rel="stylesheet")
  body
    main.bor
      .card
        //a(href="#")
        //  img.img.card-img
        //.card-txt-ctn.center
        //  h6.card-title
        //  p.card-txt
        //  a(href="#").btn.btn_medium.card-btn
          
        .product-info
        
    script(src='./final/js/main.js')