include _mixins
doctype html
html(lang='')
  include components/head
    +cssLink('../final/styles/style.css')
  body
    main
    <!--defer-->
    script(src='../final/js/main.js')
    <!--enddefer-->