include _mixins
doctype html
html(lang='')
  include head
    link(href="./final/styles/style.css" type="text/css" rel="stylesheet")
  body
    main
      .card.card-hover
        a(href="#")
          img.img.card-img(src= "beta/img/charles-magnuson-218083-300.jpg")
        .card-txt-ctn.center
          h6.card-title Core Features
          p.card-txt your website by giving it a professional look. Install with just a single click. Features can be combined at will.
          a(href="#").btn.btn_medium.card-btn Install
          
      h1.inset-text-shadow Reda Is Going To Open
    script(src='./final/js/main.js')