include _mixins
doctype html
html(lang='')
  include components/head
    <!--defer-->
    +cssLink('./final/styles/style.css')
    <!--enddefer-->
  body
    <!--defer-->
    script(src='./final/js/main.js')
    <!--defer-->