doctype html
html(lang='')
  include head
  body
    main
      //- include
      //- include
      //- include
      //- include
      //- include
      //- include
      //- include
      //- include
      //- include
      //- include
      //- include
      //- include
      //- include
      //- include
    //script(src= './js/main.min.js')