doctype html
html.no-js(lang='en')
  head
    //
      - basic page needs
      ==================================================
    meta(charset='utf-8')
    title Abstract
    meta(name='description', content='')
    meta(name='author', content='')
    //
      mobile specific metas
      ==================================================
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //
      CSS
      ==================================================
    link(rel='stylesheet', href='../Abstract10/css/base.css')
    link(rel='stylesheet', href='../Abstract10/css/vendor.css')
    link(rel='stylesheet', href='../Abstract10/css/main.css')
    //
      script
      ==================================================
    script(src='js/modernizr.js')
    script(src='js/pace.min.js')
    //
      favicons
      ==================================================
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
  body#top
    //
      header
      ==================================================
    header.short-header
      .gradient-block  
      .row.header-content
        .logo
          a(href='index.html') Author    
        nav#main-nav-wrap
          ul.main-navigation.sf-menu
            li.current
              a(href='index.html', title='') Home  
            li.has-children
              a(href='category.html', title='') Categories    
              ul.sub-menu
                -var a=['Wordpress','HTML','Photography','UI''Mockups','Branding'],i=0;
                +loop(6)
                  li
                    a(href='category.html')= a[i]
                  -i++
            li.has-children
              a(href='single-standard.html', title='') Blog    
              ul.sub-menu
                li
                  a(href='single-video.html') Video Post      
                li
                  a(href='single-audio.html') Audio Post      
                li
                  a(href='single-gallery.html') Gallery Post      
                li
                  a(href='single-standard.html') Standard Post  
            li
              a(href='style-guide.html', title='') Styles  
            li
              a(href='about.html', title='') About  
            li
              a(href='contact.html', title='') Contact
        // end main-nav-wrap
        .search-wrap
          form.search-form(role='search', method='get', action='#')
            label
              span.hide-content Search for: &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              input.search-field(type='search', placeholder='Type Your Keywords', value='', name='s', title='Search for:', autocomplete='off')  
            input.search-submit(type='submit', value='Search')
          a#close-search.close-btn(href='#') Close
        // end search wrap
        .triggers
          a.search-trigger(href='#')
            i.fa.fa-search
          a.menu-toggle(href='#')
            span Menu
        // end triggers
    // end header
    //
      masonry
      ==================================================
    section#bricks
      .row.masonry
        // brick-wrapper
        .bricks-wrapper
          .grid-sizer
          .brick.entry.featured-grid.animate-this
            .entry-content
              #featured-post-slider.flexslider
                ul.slides
                  li
                    .featured-post-slide
                      .post-background(style="background-image:url('images/thumbs/featured/featured-1.jpg');")            
                      .overlay            
                      .post-content
                        ul.entry-meta
                          li September 06, 2016                
                          li
                            a(href='#') Naruto Uzumaki              
                        h1.slide-title
                          a(href='single-standard.html', title='') Minimalism Never Goes Out of Style
                  // /slide
                  li
                    .featured-post-slide
                      .post-background(style="background-image:url('images/thumbs/featured/featured-2.jpg');")            
                      .overlay            
                      .post-content
                        ul.entry-meta
                          li August 29, 2016                
                          li
                            a(href='#') Sasuke Uchiha              
                        h1.slide-title
                          a(href='single-standard.html', title='') Enhancing Your Designs with Negative Space
                  // /slide
                  li
                    .featured-post-slide
                      .post-background(style="background-image:url('images/thumbs/featured/featured-3.jpg');;")            
                      .overlay            
                      .post-content
                        ul.entry-meta
                          li August 27, 2016                
                          li
                            a.author(href='#') Naruto Uzumaki              
                        h1.slide-title
                          a(href='single-standard.html', title='') Music Album Cover Designs for Inspiration
                  // end slide
                // end slides
              // end featured-post-slider
            // end entry content
          article.brick.entry.format-standard.animate-this
            .entry-thumb
              a.thumb-link(href='single-standard.html')
                img(src='images/thumbs/diagonal-building.jpg', alt='building')  
            .entry-text
              .entry-header
                .entry-meta
                  span.cat-links
                    a(href='#') Design &#x9;&#x9;&#x9;&#x9;
                    a(href='#') Photography      
                h1.entry-title
                  a(href='single-standard.html') Just a Standard Format Post.    
              .entry-excerpt Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
          // end article
          article.brick.entry.format-standard.animate-this
            .entry-thumb
              a.thumb-link(href='single-standard.html')
                img(src='images/thumbs/ferris-wheel.jpg', alt='ferris wheel')  
            .entry-text
              .entry-header
                .entry-meta
                  span.cat-links
                    a(href='#') Design &#x9;&#x9;&#x9;&#x9;
                    a(href='#') UI      
                h1.entry-title
                  a(href='single-standard.html') This Is Another Standard Format Post.    
              .entry-excerpt Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
          // end article
          // format audio here
          article.brick.entry.format-audio.animate-this
            .entry-thumb
              a.thumb-link(href='single-audio.html')
                img(src='images/thumbs/concert.jpg', alt='concert')    
              .audio-wrap
                audio#player(src='media/AirReview-Landmarks-02-ChasingCorporate.mp3', width='100%', height='42', controls='controls')  
            .entry-text
              .entry-header
                .entry-meta
                  span.cat-links
                    a(href='#') Design &#x9;&#x9;&#x9;&#x9;
                    a(href='#') Music      
                h1.entry-title
                  a(href='single-audio.html') This Is a Audio Format Post.    
              .entry-excerpt Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
          // /article
          article.brick.entry.format-quote.animate-this
            .entry-thumb
              blockquote
                p Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.      
                cite Dieter Rams
          // end article
          article.brick.entry.animate-this
            .entry-thumb
              a.thumb-link(href='single-standard.html')
                img(src='images/thumbs/shutterbug.jpg', alt='Shutterbug')  
            .entry-text
              .entry-header
                .entry-meta
                  span.cat-links
                    a(href='#') Photography &#x9;&#x9;&#x9;&#x9;
                    a(href='#') html      
                h1.entry-title
                  a(href='single-standard.html') Photography Skills Can Improve Your Graphic Design.    
              .entry-excerpt Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
          // end article
          article.brick.entry.animate-this
            .entry-thumb
              a.thumb-link(href='single-standard.html')
                img(src='images/thumbs/usaf-rocket.jpg', alt='USAF rocket')  
            .entry-text
              .entry-header
                .entry-meta
                  span.cat-links
                    a(href='#') Branding &#x9;&#x9;&#x9;&#x9;
                    a(href='#') Mockup      
                h1.entry-title
                  a(href='single-standard.html') The 10 Golden Rules of Clean Simple Design.    
              .entry-excerpt Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
          // end article
          article.brick.entry.format-gallery.group.animate-this
            .entry-thumb
              .post-slider.flexslider
                ul.slides
                  li
                    img(src='images/thumbs/gallery/work1.jpg')        
                  li
                    img(src='images/thumbs/gallery/work2.jpg')        
                  li
                    img(src='images/thumbs/gallery/work3.jpg')  
            .entry-text
              .entry-header
                .entry-meta
                  span.cat-links
                    a(href='#') Branding &#x9;&#x9;&#x9;&#x9;
                    a(href='#') Wordpress      
                h1.entry-title
                  a(href='single-gallery.html') Workspace Design Trends and Ideas.    
              .entry-excerpt Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
          // end article
          article.brick.entry.format-link.animate-this
            .entry-thumb
              .link-wrap
                p Looking for affordable &amp; reliable web hosting? We recommend Dreamhost.      
                cite
                  a(target='_blank', href='http://www.dreamhost.com/r.cgi?287326') http://www.dreamhost.com
          // end article
          article.brick.entry.animate-this
            .entry-thumb
              a.thumb-link(href='single-standard.html')
                img(src='images/thumbs/diagonal-pattern.jpg', alt='Pattern')  
            .entry-text
              .entry-header
                .entry-meta
                  span.cat-links
                    a(href='#') Design &#x9;&#x9;&#x9;&#x9;
                    a(href='#') UI      
                h1.entry-title
                  a(href='single-standard.html') You Can See Patterns Everywhere.    
              .entry-excerpt Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
          // end article
          article.brick.entry.format-video.animate-this
            .entry-thumb.video-image
              a(href='http://player.vimeo.com/video/14592941?title=0&byline=0&portrait=0&color=F64B39', data-lity='')
                img(src='images/thumbs/ottawa-bokeh.jpg', alt='bokeh')  
            .entry-text
              .entry-header
                .entry-meta
                  span.cat-links
                    a(href='#') Design &#x9;&#x9;&#x9;&#x9;
                    a(href='#') Branding      
                h1.entry-title
                  a(href='single-video.html') This Is a Video Post Format.    
              .entry-excerpt Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
          // end article
          article.brick.entry.animate-this
            .entry-thumb
              a.thumb-link(href='single-standard.html')
                img(src='images/thumbs/lighthouse.jpg', alt='Lighthouse')  
            .entry-text
              .entry-header
                .entry-meta
                  span.cat-links
                    a(href='#') Photography &#x9;&#x9;&#x9;&#x9;
                    a(href='#') Design      
                h1.entry-title
                  a(href='single-standard.html') Breathtaking Photos of Lighthouses.    
              .entry-excerpt Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
          // end article
          article.brick.entry.animate-this
            .entry-thumb
              a.thumb-link(href='single-standard.html')
                img(src='images/thumbs/liberty.jpg', alt='Liberty')  
            .entry-text
              .entry-header
                .entry-meta
                  span.cat-links
                    a(href='#') Branding &#x9;&#x9;&#x9;&#x9;
                    a(href='#') html      
                h1.entry-title
                  a(href='single-standard.html') Designing With Black and White.    
              .entry-excerpt Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
          // end article
        // end brick-wrapper
      // end row
      .row
        nav.pagination
          span.page-numbers.prev.inactive Prev
          span.page-numbers.current 1
          a.page-numbers(href='#') 2
          a.page-numbers(href='#') 3
          a.page-numbers(href='#') 4
          a.page-numbers(href='#') 5
          a.page-numbers(href='#') 6
          a.page-numbers(href='#') 7
          a.page-numbers(href='#') 8
          a.page-numbers(href='#') 9
          a.page-numbers.next(href='#') Next
    // end bricks
    //
      footer
      ==================================================
    footer
      .footer-main
        .row
          .col-four.tab-full.mob-full.footer-info
            h4 About Our Site  
            p Lorem ipsum Ut velit dolor Ut labore id fugiat in ut fugiat nostrud qui in dolore commodo eu magna Duis cillum dolor officia esse mollit proident Excepteur exercitation nulla. Lorem ipsum In reprehenderit commodo aliqua irure labore.
          // end footer-info
          .col-two.tab-1-3.mob-1-2.site-links
            h4 Site Links  
            ul
              li
                a(href='#') About Us    
              li
                a(href='#') Blog    
              li
                a(href='#') FAQ    
              li
                a(href='#') Terms    
              li
                a(href='#') Privacy Policy
          // end site-links
          .col-two.tab-1-3.mob-1-2.social-links
            h4 Social  
            ul
              li
                a(href='#') Twitter    
              li
                a(href='#') Facebook    
              li
                a(href='#') Dribbble    
              li
                a(href='#') Google+    
              li
                a(href='#') Instagram
          // end social links
          .col-four.tab-1-3.mob-full.footer-subscribe
            h4 Subscribe  
            p Keep yourself updated. Subscribe to our newsletter.  
            .subscribe-form
              form#mc-form.group(novalidate='true')
                input#mc-email.email(type='email', value='', name='dEmail', placeholder='Type & press enter', required='')      
                input(type='submit', name='subscribe')      
                label.subscribe-message(for='mc-email')
          // end subscribe
        // end row
      // end footer-main
      .footer-bottom
        .row
          .col-twelve
            .copyright
              span &copy; Copyright Abstract 2016    
              span Design by 
                a(href='http://www.styleshout.com/') styleshout  
            #go-top
              a.smoothscroll(title='Back to Top', href='#top')
                i.icon.icon-arrow-up
      // end footer-bottom
    #preloader
      #loader
    //
      Java Script
      ==================================================
    script(src='js/jquery-2.1.3.min.js')
    script(src='js/plugins.js')
    script(src='js/jquery.appear.js')
    script(src='js/main.js')
