include _mixins
doctype html
html(lang='')
  include components/head
    +cssLink('../final/styles/style.css')
    +cssLink('../beta/fonts/fontello/css/fontello.css')
    +cssLink('../final/styles/effects.css')
  body
    main
      //-include components/menu/_travelo-side-nav
      //-include components/_travelo-header
      //-include components/_travelo-widget
      include components/_travelo-index-post
    <!--defer-->
    script(src='../final/js/main.js')
    <!--enddefer-->