html
  body
    //
      content
      ==================================================
    section#content-wrap.blog-single
      .row
        .col-twelve
          article.format-standard
            .content-media
              .post-thumb
                img(src='images/thumbs/single/single-01.jpg')
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .primary-content
              h1.page-title Hey, This Is A Standard Format Post.
              | &#x9;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              ul.entry-meta
                li.date September 06, 2016
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.cat
                  a(href='') Wordpress
                  a(href='') Design
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.lead
                | Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor sunt sint sit nisi est eu exercitation incididunt adipisicing veniam velit id fugiat enim mollit amet anim veniam dolor dolor irure velit commodo cillum sit nulla ullamco magna amet magna cupidatat qui labore cillum sit in tempor veniam consequat non laborum adipisicing aliqua ea nisi sint.
              |  
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor sunt sint sit nisi est eu exercitation incididunt adipisicing veniam velit id fugiat enim mollit amet anim veniam dolor dolor irure velit commodo cillum sit nulla ullamco magna amet magna cupidatat qui labore cillum sit in tempor veniam consequat non laborum adipisicing aliqua ea nisi sint ut quis proident ullamco ut dolore culpa occaecat ut laboris in sit minim cupidatat ut dolor voluptate enim veniam consequat occaecat fugiat in adipisicing in amet Ut nulla nisi non ut enim aliqua laborum mollit quis nostrud sed sed.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p
                img(src='images/shutterbug.jpg', alt='')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              h2 Large Heading
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus 
                a(href='http://#') omnis voluptas assumenda est
                |  id quod maxime placeat facere possimus, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              blockquote
                p
                  | This is a simple example of a styled blockquote. A blockquote tag typically specifies a section that is quoted from another source of some sort, or highlighting text in your post.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue laboris in sit minim cupidatat ut dolor voluptate enim veniam consequat occaecat fugiat in adipisicing in amet Ut nulla nisi non ut enim aliqua laborum mollit quis nostrud sed sed..
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              h3 Smaller Heading
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
              pre.
                
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              ul
                li
                  | Donec nulla non metus auctor fringilla.
                  ul
                    li Lorem ipsum dolor sit amet.
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li Lorem ipsum dolor sit amet.
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li Lorem ipsum dolor sit amet.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li Donec nulla non metus auctor fringilla.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li Donec nulla non metus auctor fringilla.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue laboris in sit minim cupidatat ut dolor voluptate enim veniam consequat occaecat fugiat in adipisicing in amet Ut nulla nisi non ut enim aliqua laborum mollit quis nostrud sed sed..
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.tags
                span Tagged in :
                | &#x9;&#x9;  &#x9;&#x9;&#x9;&#x9;  &#x9;
                a(href='#') orci
                a(href='#') lectus
                a(href='#') varius
                a(href='#') turpis
              | &#x9;&#x9;  &#x9;&#x9;&#x9;   
              .author-profile
                img(src='images/avatars/user-05.jpg', alt='')
                | &#x9;&#x9;  &#x9;&#x9;&#x9;   &#x9;
                .about
                  h4
                    a(href='#') Jonathan Smith
                  | &#x9;&#x9;  &#x9;&#x9;&#x9;   &#x9;
                  | &#x9;&#x9;  &#x9;&#x9;&#x9;   &#x9;&#x9;
                  p
                    | Alias aperiam at debitis deserunt dignissimos dolorem doloribus, fuga fugiat impedit laudantium magni maxime nihil nisi quidem quisquam sed ullam voluptas voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  | &#x9;&#x9;  &#x9;&#x9;&#x9;   &#x9;&#x9;
                  ul.author-social
                    li
                      a(href='#') Facebook
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        &#x9;
                    li
                      a(href='#') Twitter
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        &#x9;
                    li
                      a(href='#') GooglePlus
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        &#x9;
                    li
                      a(href='#') Instagram
              // end author-profile
            // end entry-primary
            .pagenav.group
              .prev-nav
                a(href='#', rel='prev')
                  span Previous
                  | &#x9;&#x9;  &#x9;&#x9;&#x9;   &#x9;&#x9;Tips on Minimalist Design
              | &#x9;&#x9;  &#x9;&#x9;&#x9;&#x9;
              .next-nav
                a(href='#', rel='next')
                  span Next
                  | &#x9;&#x9;  &#x9;&#x9;&#x9;   &#x9;&#x9;Less Is More
        // end col-twelve
      // end row
      .comments-wrap
        #comments.row
          .col-full
            h3 5 Comments
            // commentlist
            ol.commentlist
              li.depth-1
                .avatar
                  img.avatar(width='50', height='50', src='images/avatars/user-01.jpg', alt='')
                |                      
                .comment-content
                  .comment-info
                    cite Itachi Uchiha
                    | &#x9;                        
                    .comment-meta
                      time.comment-time(datetime='2014-07-12T23:05') Jul 12, 2014 @ 23:05
                      | &#x9;                           
                      span.sep /
                      a.reply(href='#') Reply
                  | &#x9;                     
                  .comment-text
                    p
                      | Adhuc quaerendum est ne, vis ut harum tantas noluisse, id suas iisque mei. Nec te inani ponderum vulputate,
                      | facilisi expetenda has et. Iudico dictas scriptorem an vim, ei alia mentitum est, ne has voluptua praesent.
              |                   
              li.thread-alt.depth-1
                .avatar
                  img.avatar(width='50', height='50', src='images/avatars/user-04.jpg', alt='')
                |                      
                .comment-content
                  .comment-info
                    cite John Doe
                    | &#x9;                        
                    .comment-meta
                      time.comment-time(datetime='2014-07-12T24:05') Jul 12, 2014 @ 24:05
                      | &#x9;                           
                      span.sep /
                      a.reply(href='#') Reply
                  | &#x9;                     
                  .comment-text
                    p
                      | Sumo euismod dissentiunt ne sit, ad eos iudico qualisque adversarium, tota falli et mei. Esse euismod
                      | urbanitas ut sed, et duo scaevola pericula splendide. Primis veritus contentiones nec ad, nec et
                      | tantas semper delicatissimi.
                |                      
                ul.children
                  li.depth-2
                    .avatar
                      img.avatar(width='50', height='50', src='images/avatars/user-03.jpg', alt='')
                    |                            
                    .comment-content
                      .comment-info
                        cite Kakashi Hatake
                        | &#x9;                              
                        .comment-meta
                          time.comment-time(datetime='2014-07-12T25:05') Jul 12, 2014 @ 25:05
                          | &#x9;                                 
                          span.sep /
                          a.reply(href='#') Reply
                      | &#x9;                           
                      .comment-text
                        p
                          | Duis sed odio sit amet nibh vulputate
                          | cursus a sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate
                          | cursus a sit amet mauris
                    |                            
                    ul.children
                      li.depth-3
                        .avatar
                          img.avatar(width='50', height='50', src='images/avatars/user-04.jpg', alt='')
                        |                                  
                        .comment-content
                          .comment-info
                            cite John Doe
                            | &#x9;                                    
                            .comment-meta
                              time.comment-time(datetime='2014-07-12T25:15') July 12, 2014 @ 25:15
                              | &#x9;                                       
                              span.sep /
                              a.reply(href='#') Reply
                          | &#x9;                                 
                          .comment-text
                            p
                              | Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                              | etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
              |                   
              li.depth-1
                .avatar
                  img.avatar(width='50', height='50', src='images/avatars/user-02.jpg', alt='')
                |                      
                .comment-content
                  .comment-info
                    cite Shikamaru Nara
                    | &#x9;                        
                    .comment-meta
                      time.comment-time(datetime='2014-07-12T25:15') July 12, 2014 @ 25:15
                      | &#x9;                           
                      span.sep /
                      a.reply(href='#') Reply
                  | &#x9;                     
                  .comment-text
                    p
                      | Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
            // Commentlist End
            // respond
            .respond
              h3 Leave a Comment
              |                   
              form#contactForm(name='contactForm', method='post', action='')
                fieldset
                  .form-field
                    input#cName.full-width(name='cName', type='text', placeholder='Your Name', value='')
                  |                      
                  .form-field
                    input#cEmail.full-width(name='cEmail', type='text', placeholder='Your Email', value='')
                  |                      
                  .form-field
                    input#cWebsite.full-width(name='cWebsite', type='text', placeholder='Website', value='')
                  |                      
                  .message.form-field
                    textarea#cMessage.full-width(name='cMessage', placeholder='Your Message')
                  |                      
                  button.submit.button-primary(type='submit') Submit
              // Form End
            // Respond End
          // end col-full
        // end row comments
      // end comments-wrap
    // end content
