//- ---------------------slideNav
//-nav.side-nav.slide-nav-backward.fixed(class= obj.nav.class)#side-nav
//-  span.side-title.txt_center(class= obj.title.class)= obj.title.txt
//-  ul(class= obj.ul.class)
//-    each val in obj.menu.txt
//-      li.side-li.block(class= obj.li.class)
//-        a.side-a(class= obj.a.class,href="#")= val