//- ----------------------Card
//- .card.card-hover
//-   a(href="#")
//-     img.img.card-img(src= "beta/img/-300.jpg")
//-   .card-txt-ctn.center
//-     h6.card-title= 
//-     p.card-txt= 
//-     a(href="#").btn.btn_medium.card-btn