section.pres.rwd(style="background-image: radial-gradient(hsla(41,50%,5%,.9),hsla(41,50%,5%,.95)), url('../../final/img/4.jpg');").bg-center
  .pres-intro
    h1.pres-intro-title!= "<span style='color:hsl(41,80%,50%);'>Responsive</span> Worpress Theme"
    p.pres-intro-subTitle Wordpress Theme That Looks lovely on all devices.
  img(src="../final/img/1.png", alt="#").img