section.features.pres
  .pres-intro
    h1.pres-intro-title!= 'Other <span style="color:hsl(41,85%,40%);">Features</span>'
    p.pres-intro-subTitle learn more about The7
  -let h3s=['RESPONSIVE','FULL COMPATIBLE','PRODUCT VIDEO','AJAX SUPPORT','INSTAGRAM','QUICK VIEW','ONE CLICK INSTALL','SEO OPTIMIZED'],p=['Fully Responsive Design','Woocommerce Platform Compatible','Product With Video Player Included','Powerful Ajax Support','Experience Trend Shopping On Instagram','Beautiful Quick View Popup Design','All Contents Imported With Just One Click','Topping The Rank For Search Result'];i=0;
  .row
    +loop(4)
      .clm-3.clm-6-mdm.features-item
        .features-icon.center
        h3.features-title= h3s[i]
        p.features-p= p[i++]