section.testimonial.pres.bg-center(style= bk('../beta/img/5.jpg','hsla(41,70%,4%,.85)','hsla(41,70%,4%,.85)'))
  .pres-intro
    h1.pres-intro-title!= "Why do people <span style='color:hsl(41,70%,45%);'>love</span> Us"
  .row
    +loop(3)
      .clm-4
        .testimonial-item
          .icon
          p.testimonial-item-p We built this theme on Visual Composer, a very convenient drag-n-drop PageBuilder for WordPress.Simply is One Page App Landing WordPress.
          .testimonial-item-author
            .image
            cite - John Betiz -