section.mbl.row
  .mbl-description.clm-6
    h1 Enhanced Experience on Mobile
    p THIS THEME is a Technology, Web Hosting and WHMCS WordPress Theme, designed for All kinds of Technology, Domain and Hosting Business, Web Hosting and WHMCS WordPress Theme, designed for All kinds of Technology.
    a(href="#").btn Buy Now
  .mbl-img.clm-6
    img(src="../beta/img/phone.png", alt="#").img