// -----------Last Footer-----------
section.last-footer
  .last-footer-item
    p!= `Travelo &copy; Copyright ${new Date().getFullYear()}.`
  .last-footer-item.last-footer-links
    -i=0; let lastFooterLinks=['products' , 'portfolio' , 'blog' , 'features' , 'purchase' , 'items'];
    +loop(lastFooterLinks.length)
      a(href="#").last-footer-item-a= lastFooterLinks[i++]
// -----------Last Footer-----------