section.testimonial.pres
  .pres-intro
    h1.pres-intro-title!= "Why do people <span style='color:hsl(41,70%,45%);'>love</span> Us"
  .row
    +loop(3)
      .clm-4
        .testimonial-item
          .image
          p
          cite