section.post-header
  //-(style= bk('../final/img/1.jpg',.3,.5)).bg-center
  .header-nav
    a(href="./").header-nav-logo Travelo
    .header-nav-humb
      +loop(3)
        span.header-nav-humb-bar
  h1 Hitchhiking down one of the highest roads in the world
  .index-post-meta
    .meta-ctn
      .custom-icon
      span.meta-txt 5 Comments
    .meta-ctn
      .custom-icon
      span.meta-txt 4 Oct 17
    .meta-ctn
      .custom-icon
      span.meta-txt James Broth
article.single-post
  .single-post-img
    img(src="../final/img/1.jpg", alt="").img
  h1.single-post-title Hitchhiking down one of the highest roads in the world
  .index-post-meta
    .meta-ctn
      .custom-icon
      span.meta-txt 5 Comments
    .meta-ctn
      .custom-icon
      span.meta-txt 4 Oct 17
    .meta-ctn
      .custom-icon
      span.meta-txt James Broth
  article.single-post-content
    <p>We’ve all experienced the tiresome, repeated searching when trying to book the cheapest possible flights to any given destination. With endless search engines and continually fluctuating prices, the approach to frugal flight booking is overwhelming. Here’s some key tips that will save you time, frustration and most importantly money when booking your next flight.</p>
    a(href="http://google.com") Google
    <p>Don’t miss our other guides on How to Find Airline Mistake Fares and How to Get Free Extended Layovers to Hack One Trip Into Two!</p><p>1. Keep your searches top secret</p><p>You’re not crazy for thinking that a flight price has changed after searching it a few times in your web browser. Based on the cookies in your browser, flight prices do increase when a particular route is repeatedly searched, as the site wants to scare you into booking the flight quickly before prices get even higher. Always search for flights in incognito or private browsing mode to see the lowest prices.</p><p>In Google Chrome or Safari, incognito is enabled by hitting Command (or “Control” if using PC), Shift, “N”. For Mozilla Firefox or Internet Explorer, hit Command (or “Control” if using a PC), Shift, “P”. This will open a new browser window where your information is not tracked, thus not inflating prices as you search. Note: if you’re using an older version of OS X, open Safari then click “Safari” in the menu bar, and select “Private Browsing”.</p><p>Your cookies are reset each time you re-open an incognito window. So if you want to start with a clean slate for each flight search (so your previous searches aren’t “remembered”, potentially inflating costs), close all your incognito windows, open a new one, and then perform your flight search.</p><p>2. Use the best flight search engines</p><blockquote>All search engines have inflated flight costs as part of taking a cut from the airlines. Some search engines (e.g. Expedia) consistently inflate much higher than others (listed below). It pays to familiarise yourself with sites that offer the best prices.</blockquote><p>Use These to Book</p>