// -----------Footer-----------
-i=0;
footer.row
  .clm-3.clm-6-mdm.footer_grid
    h4.footer-h.footer-h_SiteTitle Travelo
    p Easy, Simple and Beautifull.
  .clm-3.clm-6-mdm.footer_grid
    h4.footer-h Recent Posts
    +loop(3)
      .footer-featured-post
        img(src=`../final/img/${i+13}.jpg`).footer-featured-post-img
        -i++
        .footer-featured-post-txt
          .meta
          h6= i%2==0?'How you could spend even less':'Hitchhiking down one of the highest roads'
          p= i%2==0?'Sleep in the cheapest accommodation we can find that with old vomit. Usually opt for a private . We don’t like museums.':'Chilling with a friendly Armenian man in Yeghegnadzor'
  .clm-3.clm-6-mdm.footer_grid
    h4.footer-h Contacts
    .footer-contact-info
      i.icon-location-1
      address Apple St, New York, NY 10012
    .footer-contact-info
      i.icon-mobile
      span +123-555-1313
    .footer-contact-info
      i.icon-mail-alt
      span adminemail@example.com
  .clm-3.clm-6-mdm.footer_grid
    h4.footer-h Pages
    -i=0; let menu=['products' , 'portfolio' , 'blog' , 'features' , 'purchase' , 'items']
    +loop(menu.length)
      a(href="#").footer-links= menu[i++]
// -----------Footer-----------