.row.posts-index
  .clm-8.posts-index_gridPadding
    -i=0;var postInlinedH=['Keep your searches top secret','Travel the world with the lowest budget'];
    .index-postGrid-ctn.center
      h1.index-postGrid-h.index-postInlined-h.center Blog Posts
      +loop(3)
        +loop(postInlinedH.length)
            article.index-postInlined.index-post.index-postGrid
              a(href="#").index-post-thumb
                img(src= `../final/img/${i+6==6?(i++)+10:(i++)+6}.jpg`, alt="").img
              a(href="#").index-post-readMoreBtn.icon-right-open
              .index-postInlined-txt
                a(href="#")
                  h3.index-post-title= postInlinedH[i%2==0?0:1]
                .index-post-meta
                  .meta-ctn
                    i.index-post-icon.icon-comment
                    span.meta-txt 5 Comments
                  .meta-ctn
                    i.index-post-icon.icon-calendar
                    span.meta-txt 4 Oct 17
                  .meta-ctn
                    i.index-post-icon.icon-user
                    span.meta-txt by James Broth
                .index-post-excerpt
                  p We’ve all seasoned the wearisome, perennial looking out once making an attempt to book the most cost effective attainable flights to any given destination. With endless search engines .
  .clm-4.post-index_gridPadding
    include posts-index/_travelo-widget