.rwd(style="").bg-center.bor
  .rwd-intro
    h1.rwd-title!= "<span style='color:hsl(41,80%,50%);'>Responsive</span> Worpress Theme"
    p.rwd-sub-title Wordpress Theme That Run On All Devices.
  img(src="../beta/img/rwd.png", alt="#").img