header(style= bk('../final/img/37.jpg','hsla(221,50%,15%,.7)','hsla(221,50%,15%,.8)')).bg-center
  .header-nav
    a(href="./").header-nav-logo Travelo
    .header-nav-humb
      +loop(3)
        span.header-nav-humb-bar
  .header-center.txt_center
    h1 Travelo
    h4 Easy, Simple and Unique.
  .header-btm
    .header-btm-cpright
      h6!= `Travelo &copy; Copyright ${new Date().getFullYear()}.`
    .header-btm-social
      -i=0;var icons=['twitter','gplus','facebook','pinterest'];
      +loop(3)
        a.header-btm-social-icon(class= `icon-${icons[i++]}`, href="#")