section.mbl.row
  .clm-6.mbl-description.mbl_anim
    h1 Enhanced Experience on Mobile
    p Almost every new client these days wants a mobile version of their website. It’s practically essential after all: one design for the BlackBerry, another for the iPhone, the iPad, netbook, Kindle and all screen resolutions must be compatible, too. So, don’t be worry about obtaining these sets of features.
    a(href="#").btn Buy Now
  .clm-6.mbl_anim
    .mbl-img.center
      img(src="../final/img/27.jpg", alt="#").img
      //- iframe(src="http://localhost:3000")
      iframe(src="http://localhost:8080/beta")