.about
  img(src="../final/img/author.jpg", alt="").about-img.center
  h5 Jack Reacher
  p Author
  hr
  .about-txt
    p Just another Dutchie. Extrovert with introverted tendencies. Some say I'm lazy, I say I'm masterfully inactive.
.aboutSocial.center
  -let aboutIcons=['twitter','gplus','facebook','pinterest'],socialColor=['#26d4f9','hsl(1,80%,50%)','#1952a9','hsl(5,80%,50%)'];i=0;
  +loop(aboutIcons.length)
    a(class= `icon-${aboutIcons[i]}`,style= `background:${socialColor[i++]}`).aboutSocial-icon