.about
  .about-img.center
  h5 Jack Reacher
  p Author
  hr
  .about-txt
    p THIS THEME is a Technology, Web Hosting and WHMCS WordPress Theme, designed for All kinds of Technology, Domain and Hosting Business. WHMCS Integration and Fully Compatible with WHMCS Bridge. Also included WHMCS Template separately based on WHMCS v7.2.2.
.aboutSocial.center
  +loop(6)
    a.icon