include ../../_mixins
-let navItems=['products' , 'portfolio' , 'blog' , 'features' , 'purchase' , 'items'],i=0;
.bg-black-screen
.sideNav
  .sideNav-title.txt_center
    h1 Travelo
    .sideNav-close-btn.txt_center
      span X
  .sideNav-bar.center
  ul.sideNav-items
    li.sideNav-items-li.op0
      a.sideNav-a Open
      ul.sideNav-sub-ul
        +loop(5)
          li
            a(href='/').sideNav-a add
    +loop(5)
      li.sideNav-items-li.op0
        a(href='/').sideNav-a= navItems[++i]||'add'
  .sideNav-social
    -let icons=['twitter','facebook','gplus'];i=0;
    +loop(3)
      a.sideNav-social-icon(class= `icon-${icons[i++]}`, href="#")