-let navItems=['pages' , 'about' , 'blog'];i=0;
.bg-black-screen
.sideNav
  .sideNav-title.txt_center
    h1 Travelo
    span.sideNav-close-btn.txt_center X
  .sideNav-bar.center
  ul.sideNav-items
    li.sideNav-items-li.op0
      a.sideNav-a Home
      ul.sideNav-sub-ul
        +loop(2)
          li
            a(href='/').sideNav-a= navItems[i++]
      -i=0;
    +loop(navItems.length)
      li.sideNav-items-li.op0
        a(href='/').sideNav-a= navItems[i++]
  .sideNav-social
    -var icons=['twitter','facebook','gplus'];i=0;
    +loop(3)
      a.sideNav-social-icon(class= `icon-${icons[i++]}`, href="#")