@import '_vars';
//Intro anim
$wqt-anim1:.4s;
$wqt-anim2:1.2s;
$wqt-anim3:2s;
$wqt-anim4:2.8s;
.intro-bk {
  background: $c5;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  overflow: auto;
}
.intro-anim-container {
  margin-top: 25vh;
  height: 250px;
  width: 250px;
  border-radius: 100%;
}
.done {
  $size: 40px;
  border-radius: 100%;
  height: $size;
  width: $size;
  top: 50%;
  left: 50%;
  z-index: 0;
  margin-left: -($size/2);
  margin-top: -($size/2);
  transform-origin: center;
  background: #3fb7fd;
  animation: done-anim 3.6s .8s forwards;
}
$child-size:30px;
.intro-child {
  border-radius: 100%;
  background: #3fb7fd;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  margin-left: -($child-size/2);
  margin-top: -($child-size/2);
  transform-origin: center;
  z-index: -1;
}
.intro-child-anim0 {
  animation: collision1 1s $wqt-anim1 forwards;
  transform: translate(125px, 0);
}
.intro-child-anim1 {
  animation: collision2 1s $wqt-anim2 forwards;
  transform: translate(0, 125px);
}
.intro-child-anim2 {
  animation: collision3 1s $wqt-anim3 forwards;
  transform: translate(-125px, 0);
}
.intro-child-anim3 {
  animation: collision4 1s $wqt-anim4 forwards;
  transform: translate(0, -125px);
  background: #0ffc07;
}
.bar-anim1 {
  $h: 30px;
  $w: 9px;
  background: $c19;
  height: $h;
  width: $w;
  top: 50%;
  left: 50%;
  margin-left: -($w/2);
  margin-top: -($h/2);
  border-radius: 20px;
  opacity: 0;
  transform: translate(-15px, 6px) rotateZ(-45deg);
  animation: bar-anim 4s forwards;
}
.bar-anim2 {
  $h: 50px;
  $w: 9px;
  background: $c19;
  height: $h;
  width: $w;
  top: 50%;
  left: 50%;
  margin-left: -($w/2);
  margin-top: -($h/2);
  border-radius: 20px;
  opacity: 0;
  transform: translate(10px, 2px) rotateZ(45deg);
  animation: bar-anim 4s forwards;
}
@media screen and (min-width:768px) {
  .intro-anim-container {
    margin-top: 35vh;
  }
}
@keyframes collision1 {
  2% {
    transform: translate(121.5px, 15.4px);
  }
  4% {
    transform: translate(116.2px, 29.8px);
  }
  6% {
    transform: translate(109.2px, 43.3px);
  }
  8% {
    transform: translate(100.8px, 55.4px);
  }
  10% {
    transform: translate(91.0px, 66.1px);
  }
  12% {
    transform: translate(80.2px, 75.3px);
  }
  14% {
    transform: translate(68.5px, 82.8px);
  }
  16% {
    transform: translate(56.3px, 88.7px);
  }
  18% {
    transform: translate(43.6px, 92.7px);
  }
  20% {
    transform: translate(30.9px, 95.1px);
  }
  22% {
    transform: translate(18.3px, 95.8px);
  }
  24% {
    transform: translate(6.0px, 94.8px);
  }
  26% {
    transform: translate(-5.8px, 92.3px);
  }
  28% {
    transform: translate(-16.9px, 88.4px);
  }
  30% {
    transform: translate(-27.0px, 83.2px);
  }
  32% {
    transform: translate(-36.2px, 76.9px);
  }
  34% {
    transform: translate(-44.2px, 69.7px);
  }
  36% {
    transform: translate(-51.0px, 61.6px);
  }
  38% {
    transform: translate(-56.5px, 53.1px);
  }
  40% {
    transform: translate(-60.7px, 44.1px);
  }
  42% {
    transform: translate(-63.5px, 34.9px);
  }
  44% {
    transform: translate(-65.1px, 25.8px);
  }
  46% {
    transform: translate(-65.4px, 16.8px);
  }
  48% {
    transform: translate(-64.5px, 8.1px);
  }
  50% {
    transform: translate(-62.5px, 0.0px);
  }
  52% {
    transform: translate(-59.5px, -7.5px);
  }
  54% {
    transform: translate(-55.7px, -14.3px);
  }
  56% {
    transform: translate(-51.1px, -20.2px);
  }
  58% {
    transform: translate(-46.0px, -25.3px);
  }
  60% {
    transform: translate(-40.5px, -29.4px);
  }
  62% {
    transform: translate(-34.6px, -32.5px);
  }
  64% {
    transform: translate(-28.7px, -34.7px);
  }
  66% {
    transform: translate(-22.8px, -35.9px);
  }
  68% {
    transform: translate(-17.0px, -36.2px);
  }
  70% {
    transform: translate(-11.6px, -35.7px);
  }
  72% {
    transform: translate(-6.6px, -34.4px);
  }
  74% {
    transform: translate(-2.0px, -32.4px);
  }
  76% {
    transform: translate(1.9px, -29.9px);
  }
  78% {
    transform: translate(5.2px, -27.0px);
  }
  80% {
    transform: translate(7.7px, -23.8px);
  }
  82% {
    transform: translate(9.6px, -20.4px);
  }
  84% {
    transform: translate(10.7px, -16.9px);
  }
  86% {
    transform: translate(11.2px, -13.5px);
  }
  88% {
    transform: translate(10.9px, -10.3px);
  }
  90% {
    transform: translate(10.1px, -7.3px);
  }
  92% {
    transform: translate(8.8px, -4.8px);
  }
  94% {
    transform: translate(7.0px, -2.8px);
  }
  96% {
    transform: translate(4.8px, -1.2px);
  }
  98% {
    transform: translate(2.5px, -0.3px);
  }
  100% {
    width: $child-size;
    height: $child-size;
    transform: translate(0.0px, 0.0px);
  }
}
@keyframes collision2 {
  2% {
    transform: translate(-15.4px, 121.5px);
  }
  4% {
    transform: translate(-29.8px, 116.2px);
  }
  6% {
    transform: translate(-43.3px, 109.2px);
  }
  8% {
    transform: translate(-55.4px, 100.8px);
  }
  10% {
    transform: translate(-66.1px, 91.0px);
  }
  12% {
    transform: translate(-75.3px, 80.2px);
  }
  14% {
    transform: translate(-82.8px, 68.5px);
  }
  16% {
    transform: translate(-88.7px, 56.3px);
  }
  18% {
    transform: translate(-92.7px, 43.6px);
  }
  20% {
    transform: translate(-95.1px, 30.9px);
  }
  22% {
    transform: translate(-95.8px, 18.3px);
  }
  24% {
    transform: translate(-94.8px, 6.0px);
  }
  26% {
    transform: translate(-92.3px, -5.8px);
  }
  28% {
    transform: translate(-88.4px, -16.9px);
  }
  30% {
    transform: translate(-83.2px, -27.0px);
  }
  32% {
    transform: translate(-76.9px, -36.2px);
  }
  34% {
    transform: translate(-69.7px, -44.2px);
  }
  36% {
    transform: translate(-61.6px, -51.0px);
  }
  38% {
    transform: translate(-53.1px, -56.5px);
  }
  40% {
    transform: translate(-44.1px, -60.7px);
  }
  42% {
    transform: translate(-34.9px, -63.5px);
  }
  44% {
    transform: translate(-25.8px, -65.1px);
  }
  46% {
    transform: translate(-16.8px, -65.4px);
  }
  48% {
    transform: translate(-8.1px, -64.5px);
  }
  50% {
    transform: translate(-0.0px, -62.5px);
  }
  52% {
    transform: translate(7.5px, -59.5px);
  }
  54% {
    transform: translate(14.3px, -55.7px);
  }
  56% {
    transform: translate(20.2px, -51.1px);
  }
  58% {
    transform: translate(25.3px, -46.0px);
  }
  60% {
    transform: translate(29.4px, -40.5px);
  }
  62% {
    transform: translate(32.5px, -34.6px);
  }
  64% {
    transform: translate(34.7px, -28.7px);
  }
  66% {
    transform: translate(35.9px, -22.8px);
  }
  68% {
    transform: translate(36.2px, -17.0px);
  }
  70% {
    transform: translate(35.7px, -11.6px);
  }
  72% {
    transform: translate(34.4px, -6.6px);
  }
  74% {
    transform: translate(32.4px, -2.0px);
  }
  76% {
    transform: translate(29.9px, 1.9px);
  }
  78% {
    transform: translate(27.0px, 5.2px);
  }
  80% {
    transform: translate(23.8px, 7.7px);
  }
  82% {
    transform: translate(20.4px, 9.6px);
  }
  84% {
    transform: translate(16.9px, 10.7px);
  }
  86% {
    transform: translate(13.5px, 11.2px);
  }
  88% {
    transform: translate(10.3px, 10.9px);
  }
  90% {
    transform: translate(7.3px, 10.1px);
  }
  92% {
    transform: translate(4.8px, 8.8px);
  }
  94% {
    transform: translate(2.8px, 7.0px);
  }
  96% {
    transform: translate(1.2px, 4.8px);
  }
  98% {
    transform: translate(0.3px, 2.5px);
  }
  100% {
    width: $child-size;
    height: $child-size;
    transform: translate(0.0px, 0.0px);
  }
}
@keyframes collision3 {
  2% {
    transform: translate(-121.5px, -15.4px);
  }
  4% {
    transform: translate(-116.2px, -29.8px);
  }
  6% {
    transform: translate(-109.2px, -43.3px);
  }
  8% {
    transform: translate(-100.8px, -55.4px);
  }
  10% {
    transform: translate(-91.0px, -66.1px);
  }
  12% {
    transform: translate(-80.2px, -75.3px);
  }
  14% {
    transform: translate(-68.5px, -82.8px);
  }
  16% {
    transform: translate(-56.3px, -88.7px);
  }
  18% {
    transform: translate(-43.6px, -92.7px);
  }
  20% {
    transform: translate(-30.9px, -95.1px);
  }
  22% {
    transform: translate(-18.3px, -95.8px);
  }
  24% {
    transform: translate(-6.0px, -94.8px);
  }
  26% {
    transform: translate(5.8px, -92.3px);
  }
  28% {
    transform: translate(16.9px, -88.4px);
  }
  30% {
    transform: translate(27.0px, -83.2px);
  }
  32% {
    transform: translate(36.2px, -76.9px);
  }
  34% {
    transform: translate(44.2px, -69.7px);
  }
  36% {
    transform: translate(51.0px, -61.6px);
  }
  38% {
    transform: translate(56.5px, -53.1px);
  }
  40% {
    transform: translate(60.7px, -44.1px);
  }
  42% {
    transform: translate(63.5px, -34.9px);
  }
  44% {
    transform: translate(65.1px, -25.8px);
  }
  46% {
    transform: translate(65.4px, -16.8px);
  }
  48% {
    transform: translate(64.5px, -8.1px);
  }
  50% {
    transform: translate(62.5px, -0.0px);
  }
  52% {
    transform: translate(59.5px, 7.5px);
  }
  54% {
    transform: translate(55.7px, 14.3px);
  }
  56% {
    transform: translate(51.1px, 20.2px);
  }
  58% {
    transform: translate(46.0px, 25.3px);
  }
  60% {
    transform: translate(40.5px, 29.4px);
  }
  62% {
    transform: translate(34.6px, 32.5px);
  }
  64% {
    transform: translate(28.7px, 34.7px);
  }
  66% {
    transform: translate(22.8px, 35.9px);
  }
  68% {
    transform: translate(17.0px, 36.2px);
  }
  70% {
    transform: translate(11.6px, 35.7px);
  }
  72% {
    transform: translate(6.6px, 34.4px);
  }
  74% {
    transform: translate(2.0px, 32.4px);
  }
  76% {
    transform: translate(-1.9px, 29.9px);
  }
  78% {
    transform: translate(-5.2px, 27.0px);
  }
  80% {
    transform: translate(-7.7px, 23.8px);
  }
  82% {
    transform: translate(-9.6px, 20.4px);
  }
  84% {
    transform: translate(-10.7px, 16.9px);
  }
  86% {
    transform: translate(-11.2px, 13.5px);
  }
  88% {
    transform: translate(-10.9px, 10.3px);
  }
  90% {
    transform: translate(-10.1px, 7.3px);
  }
  92% {
    transform: translate(-8.8px, 4.8px);
  }
  94% {
    transform: translate(-7.0px, 2.8px);
  }
  96% {
    transform: translate(-4.8px, 1.2px);
  }
  98% {
    transform: translate(-2.5px, 0.3px);
  }
  100% {
    width: $child-size;
    height: $child-size;
    transform: translate(0.0px, 0.0px);
  }
}
@keyframes collision4 {
  2% {
    transform: translate(15.4px, -121.5px);
  }
  4% {
    transform: translate(29.8px, -116.2px);
  }
  6% {
    transform: translate(43.3px, -109.2px);
  }
  8% {
    transform: translate(55.4px, -100.8px);
  }
  10% {
    transform: translate(66.1px, -91.0px);
  }
  12% {
    transform: translate(75.3px, -80.2px);
  }
  14% {
    transform: translate(82.8px, -68.5px);
  }
  16% {
    transform: translate(88.7px, -56.3px);
  }
  18% {
    transform: translate(92.7px, -43.6px);
  }
  20% {
    transform: translate(95.1px, -30.9px);
  }
  22% {
    transform: translate(95.8px, -18.3px);
  }
  24% {
    transform: translate(94.8px, -6.0px);
  }
  26% {
    transform: translate(92.3px, 5.8px);
  }
  28% {
    transform: translate(88.4px, 16.9px);
  }
  30% {
    transform: translate(83.2px, 27.0px);
  }
  32% {
    transform: translate(76.9px, 36.2px);
  }
  34% {
    transform: translate(69.7px, 44.2px);
  }
  36% {
    transform: translate(61.6px, 51.0px);
  }
  38% {
    transform: translate(53.1px, 56.5px);
  }
  40% {
    transform: translate(44.1px, 60.7px);
  }
  42% {
    transform: translate(34.9px, 63.5px);
  }
  44% {
    transform: translate(25.8px, 65.1px);
  }
  46% {
    transform: translate(16.8px, 65.4px);
  }
  48% {
    transform: translate(8.1px, 64.5px);
  }
  50% {
    transform: translate(0.0px, 62.5px);
  }
  52% {
    transform: translate(-7.5px, 59.5px);
  }
  54% {
    transform: translate(-14.3px, 55.7px);
  }
  56% {
    transform: translate(-20.2px, 51.1px);
  }
  58% {
    transform: translate(-25.3px, 46.0px);
  }
  60% {
    transform: translate(-29.4px, 40.5px);
  }
  62% {
    transform: translate(-32.5px, 34.6px);
  }
  64% {
    transform: translate(-34.7px, 28.7px);
  }
  66% {
    transform: translate(-35.9px, 22.8px);
  }
  68% {
    transform: translate(-36.2px, 17.0px);
  }
  70% {
    transform: translate(-35.7px, 11.6px);
  }
  72% {
    transform: translate(-34.4px, 6.6px);
  }
  74% {
    transform: translate(-32.4px, 2.0px);
  }
  76% {
    transform: translate(-29.9px, -1.9px);
  }
  78% {
    transform: translate(-27.0px, -5.2px);
  }
  80% {
    transform: translate(-23.8px, -7.7px);
  }
  82% {
    transform: translate(-20.4px, -9.6px);
  }
  84% {
    transform: translate(-16.9px, -10.7px);
  }
  86% {
    transform: translate(-13.5px, -11.2px);
  }
  88% {
    transform: translate(-10.3px, -10.9px);
  }
  90% {
    transform: translate(-7.3px, -10.1px);
  }
  92% {
    transform: translate(-4.8px, -8.8px);
  }
  94% {
    transform: translate(-2.8px, -7.0px);
  }
  96% {
    transform: translate(-1.2px, -4.8px);
  }
  98% {
    transform: translate(-0.3px, -2.5px);
  }
  100% {
    width: $child-size;
    height: $child-size;
    transform: translate(0.0px, 0.0px);
  }
}
@keyframes done-anim {
  33.33% {
    transform: scale(1.5);
  }
  55.5% {
    transform: scale(2);
  }
  77.7% {
    transform: scale(2.5);
    background: #3fb7fd;
  }
  100% {
    transform: scale(2.6);
    background: #0ffc07;
  }
}
@keyframes bar-anim {
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation: fade-out .7s forwards;
}