$sans:sans-serif;
$websafe-f1:'Verdana';//web safe
$websafe-f2:'Tahoma';//web safe
$websafe-f3:'Helvetica';//web safe
$f3:'Open Sans';
$f2:'Fira Sans';
$f1:'Roboto';//100,a good weight
$header1:'Raleway';
$header2:'Roboto Condensed';
$header3:'Oswald';
//Product sans