$sans:sans-serif;
$websafe-f1:'Verdana';
$websafe-f2:'Tahoma';
$websafe-f3:'Helvetica';
$f1:'Roboto';//100,a good weight
$header1:'Raleway';
$header2:'Roboto Condensed';
$header3:'Oswald';
//Noto serif