*, *:after, *:before {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
//Border
.bor {
  border: 1px solid;
}
.right {
  float: right;
}
.left {
  float: left;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.fixed {
  position: fixed;
}
.inline {
  display: inline-block;
}
.block {
  display: block;
}
.table {
  display: table;
}
.none {
  display: none;
}
.op1 {
  opacity: 1;
}
.op0 {
  opacity: 0;
}
.txt_center {
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
//clm padding
.clm_pad {
  padding: $ms-2 $ms1;
}
//background to be centered
.bg-center {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.blue-gradient {
  background: radial-gradient(farthest-corner at 100% 100%, #070c36, #010113);
}
//Imgs
img {
  vertical-align: bottom;
}
.img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
//section padding for top and bottom
.section_pad {
  padding-top: $ms7;
  padding-bottom: $ms8;
}
//rounded icon
.rounded-icon {
  height: 30px;
  width: 30px;
  color: $c19;
  font-size: $ms0;
  border-radius: 100%;
}
@media screen and (min-width:480px) {
  .header-inner-center {
    bottom: 30%;
  }
}
//Wrap Class
.wrap_70 {
  width: 80%;
}
@media screen and (min-width:480px) {
  .wrap_70 {
    width: 70%;
  }
}
.wrap_75 {
  width: 85%;
}
@media screen and (min-width:480px) {
  .wrap_75 {
    width: 75%;
  }
}
.wrap_80 {
  width: 97%;
}
@media screen and (min-width:480px) {
  .wrap_80 {
    width: 80%;
  }
}
.wrap_85 {
  width: 100%;
}
@media screen and (min-width:480px) {
  .wrap_85 {
    width: 85%;
  }
}
.wrap_90 {
  width: 95%;
}
@media screen and (min-width:480px) {
  .wrap_90 {
    width: 85%;
  }
}
//margin-bottom
.margin {
  &_btm_2 {
    margin-bottom: $ms2;
  }
  &_btm_3 {
    margin-bottom: $ms3;
  }
  &_btm_4 {
    margin-bottom: $ms4;
  }
  &_btm_5 {
    margin-bottom: $ms5;
  }
  &_btm_6 {
    margin-bottom: $ms6;
  }
  &_btm_7 {
    margin-bottom: $ms7;
  }
  &_btm_8 {
    margin-bottom: $ms8;
  }
  &_btm_9 {
    margin-bottom: $ms9;
  }
  &_btm_10 {
    margin-bottom: $ms10;
  }
  &_btm_11 {
    margin-bottom: $ms11;
  }
}
//media
.media-img {
  width: 85px;
  height: 85px;
  margin-top: $ms4;
}
.media-txt {
  width: 65%;
  padding: $ms-1;
}
@media screen and (min-width:480px) {
  .media-img {
    width: 134px;
    height: 135px;
  }
}
@media screen and (min-width:768px) {
  .media-img {
    width: 150px;
    height: 150px;
    margin-top: $ms3;
    margin-left: $ms5;
  }
}
@media screen and (min-width:1024px) {
  .media-img {
    width: 100px;
    height: 100px;
    margin-top: $ms4;
    margin-left: 0;
  }
}
//----------Btn-----------
.btn {
  display: inline-block;
  padding: $ms-2 $ms-1;
  font-weight: bold;
  transition: all .3s;
  &_small {
    padding: $ms0 $ms1;
  }
  &_medium {
    padding: $ms1 $ms2;
  }
  &_big {
    padding: $ms2 $ms3;
  }
}
//---------MENU---------
//in li
.menu_center {
  display: block;
  text-align: center;
}
//in a
.menu-anchor {
  padding: $ms0;
}
.menu-links {
  width: 100%;
  display: none;
  overflow: hidden;
  transition: all .7s;
}
.humb {
  top: 4px;
  right: 4px;
  height: 60px;
  width: 60px;
  padding: 0 14px;
  cursor: pointer; //must be abs and the ul.row must be rel
  &-child {
    margin-top: 11px;
  }
  &-spn {
    height: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
}
@media screen and (min-width:1024px) {
  .humb {
    display: none;
  }
  .menu_center {
    display: inline-block;
  }
  .menu-links {
    display: inline-block;
  }
}
//------------------Side-Nav
.side {
  &-nav {
    background: $c3;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &-title {
    padding: $ms2;
    color: $c17;
    text-shadow: 1px 1px 1px $c20;
    font-size: $ms2;
  }
  &-a {
    color: $c13;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 17px;
    padding: $ms0+5px;
    box-shadow: 0 5px 3px -5px $c10;
  }
  &-a:hover {
    transform: translateX(10px);
    font-family: 20px;
    box-shadow: 0px 1px 3px 0px $c10;
    color: $c20;
  }
}
//--------------------Pagination
.pag-numbers {
  float: left;
  padding: $ms-2;
  font-weight: 700;
  margin: 5px;
  border-radius: 4px;
  transition: all .7s;
  text-shadow: 1px 1px 4px #1d455d;
  &-design {
    background: #5a70c8;
    color: #f1f3f8;
  }
}
.pag-next, .pag-previous {
  display: block;
  width: 95%;
  text-align: center;
}
.current {
  border: {
    top: none;
    left: none;
    right: none;
    bottom: 5px solid #5a70c8;
  }
  padding-bottom:$ms-5;
  border-radius:4px;
}
@media screen and (min-width:480px) {
  .next, .previous {
    width: auto;
  }
}
//---------SVG CIRCULAR LPROGRESS-------
//TO BE MIXIN ::::::::::::::::::::::::::::::::
//<svg><circle r="100" cx="101" cy="101"></circle></svg>
$height:202px;
$width:202px;
$r:100px;
$line-length:2*3.14*$r;
.circle {
  width: $height;
  height: $width;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -($height/2);
  margin-top: -($width/2);
} //<svg>
.circle circle {
  stroke-dasharray: $line-length;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 5s linear 5 forwards;
} // <circle>
@keyframes countdown {
  to {
    stroke-dashoffset: $line-length;
  }
}
//---------------Stars---------
//.star-ctn //.stars.rel
@function multiShadows($n, $size) {
  $value:'#{random($size)}px #{random($size)}px #dfe6b6';
  @for $i from 0 through $n {
    $value: '#{$value} ,#{random($size)}px #{random($size)}px #dfe6b6';
  }
  @return unquote($value)
}
@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1500px);
  }
}
.star {
  &-ctn {
    height: 100vh;
    background: linear-gradient(#0d2334, #214c72);
    overflow: hidden;
  }
  &s {
    top: -1400px;
    height: 3px;
    width: 3px;
    border-radius: 100%;
    background: #d3dd9b;
    box-shadow: multiShadows(1000, 2000);
    animation: down 120s linear infinite;
  }
}