//Grey Colors
$c1:rgb(12.75,12.75,12.75);
$c2:rgb(25.5,25.5,25.5);
$c3:rgb(38.25,38.25,38.25);
$c4:rgb(51,51,51);
$c5:rgb(63.75,63.75,63.75);
$c6:rgb(76.5,76.5,76.5);
$c7:rgb(89.25,89.25,89.25);
$c8:rgb(102,102,102);
$c9:rgb(114.75,114.75,114.75);
$c10:rgb(127.5,127.5,127.5);
$c11:rgb(140.25,140.25,140.25);
$c12:rgb(153,153,153);
$c13:rgb(165.75,165.75,165.75);
$c14:rgb(178.5,178.5,178.5);
$c15:rgb(191.25,191.25,191.25);
$c16:rgb(204,204,204);
$c17:rgb(216.75,216.75,216.75);
$c18:rgb(229.5,229.5,229.5);
$c19:rgb(242.25,242.25,242.25);
$c20:rgb(255,255,255);
//Modular Scale
$ms-6: 5.358px;
$ms-5: 6.43px;
$ms-4: 7.716px;
$ms-3: 9.259px;
$ms-2: 11.111px;
$ms-1: 13.333px;
$ms0: 16px;
$ms1: 19.2px;
$ms2: 23.04px;
$ms3: 27.648px;
$ms4: 33.178px;
$ms5: 39.813px;
$ms6: 47.776px;
$ms7: 57.331px;
$ms8:68.797px;
$ms9:82.556px;
$ms10:99.068px;
$ms11:118.881px;