@import 'partials/normalize', 'partials/type' ,'partials/mixins';
@import 'partials/rwd-float';
@import 'partials/colors';

body{
  background: hsla($main-color, 90%, 14%, .13);
  color:ca(10,.8);
}
.clm-6-mdm{
  padding:0;
  @media screen and (min-width:1024px){
    padding:ms(1) ms(1) 0;
  }
}
@media screen and (min-width:1024px) {
  @include rwd-mdm();
}

//@import 'components/menu/_travelo-side-nav';
//@import 'components/_travelo-header';
//@import 'components/_travelo-widget';
@import 'components/_travelo-index-post';


@import 'partials/readyCss';
@media screen and (min-width:320px) {}
  @media screen and (min-width:360px) {}
  @media screen and (min-width:375px) {}
  @media screen and (min-width:480px) {}
  @media screen and (min-width:768px) {}
  @media screen and (min-width:1024px) {}
  @media screen and (min-width:1280px) {}
  @media screen and (min-width:1360px) {}
  @media screen and (min-width:1366px) {}
  @media screen and (min-width:1440px) {}
  @media screen and (min-width:1600px) {}
  @media screen and (min-width:1680px) {}
  @media screen and (min-width:1920px) {}
  @media screen and (min-width:2560px) {}