@import 'partials/colors','_menu';

.bg-black-screen {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  display:none;
  @include s(100%, 100%);
  background: rgba(0, 0, 0, .5);
}
.sideNav {
  width: 80%;
  width: 80vw;
  height: 100%;
  height: 100vh;
  background: linear-gradient(60deg, hsl($main_color, 40%, 35%), hsl($main_color, 70%, 15%));
  color: ca(255, .8);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  transform: translateX(-120%);
  transition: all .3s ease-out;
  &-title {
    padding: ms(1);
    position: relative;
    h1 {
      color:inherit;
      font-weight: 100;
    }
  }
  &-bar {
    height: 2px;
    width: 80%;
    background: hsla($main_color, 40%, 55%, .4);
    transform: translateY(-10px);
  }
  &-close-btn {
    position: absolute;
    @include s(40px, 40px);
    top: 2px;
    left: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: hsla(1, 100%, 40%, .8);
    transition: all .3s ease-out;
    cursor: pointer;
    font-size: ms(0) + 4px;
    padding-top:8px;
    &:hover, &:focus {
      transform: scale(1.2) translate(2px, 2px);
    }
  }
  &-a {
    font-size: 18px;
    padding: ms(2)/2.5 ms(2);
    color: rgba(255, 255, 255, .65);
    transition: all .2s ease-in-out;
    &:hover, &:focus {
      color: rgba(255, 255, 255, .95);
      transform: translate(11px);
    }
  }
  &-sub-ul {
    padding-left: ms(0);
    display: none;
  }
  &-items {
    height: 70%;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    &-li{
      transform: translate(-30px);
      transition: all .3s ease-out;
    }
  }
  &-social {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    &-icon {
      @include s(20px, 20px);
      border-radius: 100%;
      background: rgba(250, 250, 250, .4);
      margin: 0 ms(-2);
      font-size: 14px;
      color: hsl($main_color, 50%, 25%);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover, &:focus {
        background: rgba(250, 250, 250, .6);
        transform: scale(1.5);
      }
    }
  }
}
@media screen and (min-width:375px) {
  .sideNav {
    width: 280px;
    &-bar {
      width: 75%;
      transform: translateY(-12px);
    }
    &-a {
      padding: ms(2)/2.3 ms(2);
    }
  }
}
@media screen and (min-height:550px) {
  .sideNav {
    &-social {
      display: flex;
    }
  }
}