/*-----------Features-----------*/
.features{
  .pres-intro{
    margin-bottom: ms(4);
  }
  &-item{
    padding:ms(1);
    h4{
      text-transform: capitalize;
    }
  }
  &-icon{
    &:before{
      font-size: ms(3);
      margin:0;
    }
    display: block;
    color: hsla($main-color, 80, 50,.8);
    margin-bottom: ms(2)-5px;
  }
}
/*-----------Features-----------*/